% rebase('base.html')

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  
  <h1 class="bd-heading mb-3">Parcela št. {{id_parcela}}</h1>
  <p>{{stanje}}</p>

  %if rezervacija:
    <p>Rezervacija št. {{rezervacija.id_rezervacije}}</p>
    <a href="/dodaj-gosta/{{rezervacija.id_rezervacije}}">
      <button class="btn btn-primary">Dodaj gosta</button>
    </a>
    <a href="/predracun/{{rezervacija.id_rezervacije}}">
      <button class="btn btn-primary">Predračun</button>
    </a>
    <a href="/zakljuci/{{rezervacija.id_rezervacije}}">
      <button class="btn btn-primary">Zaključi in plačaj</button>
    </a>
  %else:
    <a href="/naredi-rezervacijo/{{id_parcela}}">
      <button class="btn btn-primary">Dodaj rezervacijo</button>
    </a>
  %end
  %if gostje:
  <table border="1">
    <tr>
      <!-- <th>Gost</th> -->
      <th>Ime</th>
      <th>EMŠO</th>
      <th>Spol</th>
      <th>Država</th>
    </tr>
    %for gost in gostje:
      <tr>
        <!-- <td>
          <a href="/gost/{{gost.emso}}">
            <button class="btn btn-secondary">Uredi</button>
          </a>
        </td> -->
        <td>{{gost.ime}} {{gost.priimek}}</td>
        <td>{{gost.emso}}</td>
        <td>{{gost.spol()}}</td>
        <td>{{gost.drzava}}</td>
      </tr>
    %end
  </table>
  %end