% rebase('base.html')
  
  <h1 class="bd-heading mb-3">Parcela št. {{ id_parcela }}</h1>
  <p>{{ stanje}}</p>

  %if rezervacija:
    <p>Rezervacija št. {{rezervacija.id_rezervacije}}</p>
    <a href="/dodaj-gosta/{{rezervacija.id_rezervacije}}">
      <button class="btn btn-primary">Dodaj gosta</button>
    </a>
    <a href="/predracun/{{rezervacija.id_rezervacije}}">
      <button class="btn btn-primary">Predračun</button>
    </a>
    <a href="/zakljuci/{{rezervacija.id_rezervacije}}">
      <button class="btn btn-primary">Zaključi in plačaj</button>
    </a>
  %else:
    <a href="/naredi-rezervacijo/{{id_parcela}}">
      <button class="btn btn-primary">Dodaj rezervacijo</button>
    </a>
  %end
  %if gostje:
  <table border="1">
    <tr>
      <!-- <th>Gost</th> -->
      <th>Ime</th>
      <th>EMŠO</th>
      <th>Spol</th>
      <th>Država</th>
    </tr>
    %for oseba in gostje:
      <tr>
        <!-- <td>
          <a href="/gost/{{oseba.emso}}">
            <button class="btn btn-secondary">Uredi</button>
          </a>
        </td> -->
        <td>
          <p>{{oseba.ime}} {{oseba.priimek}}</p>
        </td>
        <td>
          <p>{{oseba.emso}}</p>
        </td>
        <td>
          <p>{{oseba.spol()}}</p>
        </td>
        <td>
          <p>{{oseba.drzava}}</p>
        </td>
      </tr>
    %end
  </table>
  %end